.app-wrapper {
  width: 100%;
  height: 100vh;
  
  background-color:antiquewhite;
 
  position: fixed;
}


.left-panel {
  width: 70px;
  min-width: 70px;
  height: 100%;
  background: #ffffff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}


.center-panel {
  width: 28%;
  min-width: 320px;
  max-width: 420px;
  height: 100%;
  border-right: 1px solid #ddd;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.right-panel {
  flex: 1;
  height: 100vh;
  height: 100vh;
  
  display: flex;
   background-color: antiquewhite;
  
  position: fixed;
}

