.user-list {
  flex: 1;
  overflow-y: auto;

  .user-item {
    display: flex;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;

    &:hover {
      background: #f5f5f5;
    }

    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 14px;
    }

    .details {
      flex: 1;

      .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        h4 {
          margin: 0;
          font-size: 16px;
        }

        span {
          font-size: 13px;
          color: #888;
        }
      }

      .last-message {
        margin: 0;
        font-size: 14px;
        color: #666;
      }
    }
  }
}
