.chat-box-container {
  display: flex;
  flex-direction: column;
  height: 100vh;       
  width: 100%;        
  overflow: hidden;    
  background: #fef5e7;
}


.chat-header {
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  border-bottom: 1px solid #ddd;
  background: white;
}


.chat-main {
  flex: 1;                       
  overflow-y: auto;              
  padding: 20px;
  background: #fdeedc;
}


.chat-footer {
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  border-top: 1px solid #ddd;
  background: white;
}
