.search-container {
  background: #f0f2f5;
  padding: 10px;

  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px;

  .search-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #777;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 15px;
  }
}
