
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


.top-header {
  width: 100%;
  height: 55px;
  background: #f0f2f5;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 65px;          
  z-index: 2000;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.wa-logo {
  width: 34px;
  height: 34px;
}

.wa-title {
  font-size: 18px;
  font-weight: 600;
  color: #111b21;
}

