
.app-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position:fixed;
  background-color: antiquewhite;
  
}
 

.left-panel {
  width: 70px;
  min-width: 70px;
  background: #ffffff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}


.center-panel {
  width: 28%;
  min-width: 320px;
  max-width: 345px;
  background: #ffffff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
   margin-top: 55px;
   background-color:antiquewhite ;
   
}

