.left-mini-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 65px;
  background: #f0f2f5;
  border-right: 1px solid #ddd;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 9000;
  
}


.left-mini-bar.expanded {
  width: 260px;
}

.header {
  display: flex;
  align-items: center;
  padding: 18px;
  gap: 15px;
}

.hamburger {
  font-size: 26px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}


.left-mini-bar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.left-mini-bar li {
  display: flex;
  align-items: center;
  gap: 20px;         
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s ease;
  margin-bottom: 18px;
}

.left-mini-bar li:hover {
  background: #f5f5f5;
}


.left-mini-bar li .material-icons {
  font-size: 24px;
  color: #444;
}


.left-mini-bar li .label {
  font-size: 17px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.left-mini-bar:not(.expanded) .label {
  opacity: 0;
  display: none;
}
