<!-- ALWAYS VISIBLE MINI SIDEBAR -->
<div class="left-mini-bar" [class.expanded]="isMenuOpen">

  <div class="header">
    <span class="material-icons hamburger" (click)="toggleMenu()">menu</span>
    <span class="title" *ngIf="isMenuOpen">TVM Chat</span>
  </div>

  <ul>
    <li *ngFor="let item of menuItems" [routerLink]="item.route">
      <span class="material-icons">{{ item.icon }}</span>
      <span class="label" *ngIf="isMenuOpen">{{ item.label }}</span>
    </li>
  </ul>

  <div class="static-profile">
    <img src="assets/profile.jpg" alt="Profile">

  </div>
  </div>